
.intro-proyect-info {
    height: 100%;
    margin-bottom: 14px;

    .box {

        padding: 12px;
        border-radius: 5px;
        margin: 15px 2px;
        max-height: 600px;
        height: 100%;
        width: 100%;
        -webkit-transform: scale(1);
        transform: scale(1);
        transition: transform 0.1s,-webkit-transform 0.3s;
        border: 1px solid #dedede;
        z-index: -1;


        &:hover {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            z-index: 99999;
            -webkit-box-shadow: 12px 12px 20px 5px #c4c4c4;
            box-shadow: 12px 12px 20px 5px #c4c4c4;
        }
    }
}

// .transition {
//     height: 700px;
//     transition: width 2s, height 2s, margin 2s;

// }
// .box:hover{
//     width: 100%;
//     height: 700px;
//     margin: 0 auto;
// }

.img-logo-proyecto {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 158px;
    width: 100%;
    cursor: pointer;
    border-radius: 6px;
    border-radius: 15%;
    padding: 15px;
  }
  
  .logo {
    // background-image: url('../../assets/Uber-Logo.png');
  }