<app-navbar></app-navbar>
<section class="container top-navbar">
    <header >
        <div class="contenedor-imagen">
            <div class="img-logo-proyecto logo" [style.background-image]="'url(' + detalleProyecto.imagen  +')'"></div> 
        </div>
        <div class="circle"></div>

    </header>
    <article class="box-info">
        <h2 class="nombre-proyecto">Nombre del proyecto </h2> 
        <hr/>
        <p>{{detalleProyecto.nombreProyecto}}</p>
        <h2 class="nombre-proyecto">Objetivo</h2>
        <hr/>
        <p>{{detalleProyecto.objetivo}}</p>
        <h2 class="nombre-proyecto">Beneficios</h2>
        <hr/>
        <p>{{detalleProyecto.beneficios}}</p>
        <h2 class="nombre-proyecto">Alcance</h2>
        <hr/>
        <p>{{detalleProyecto.alcance}}</p>
        <h2 class="nombre-proyecto">Equipo de desarrollo</h2> 
        <hr/>
        <app-tarjeta-usuario></app-tarjeta-usuario>


    </article>




    <!-- <figure class="icon-cards mt-3">
        <div class="icon-cards__content">
          <div class="icon-cards__item d-flex align-items-center justify-content-center"><span class="h1">1</span></div>
          <div class="icon-cards__item d-flex align-items-center justify-content-center"><span class="h1">2</span></div>
          <div class="icon-cards__item d-flex align-items-center justify-content-center"><span class="h1">3</span></div>
          <div class="icon-cards__item d-flex align-items-center justify-content-center"><span class="h1">4</span></div>

        </div>
      </figure> -->

      <!-- Top content -->
 </section>
