header {
    position: relative;
    width: 300px;
    margin: auto;
    background: white;

    .contenedor-imagen {
        height: 120px;
        width: 120px;
        margin: auto;
        border-radius: 50%;
        position: relative;
        background-color: white;
        z-index: 100;
        // border: 1px solid #3496b6;
        margin-top: 20px;
    }

    .logo{
        height: 100px;
        width: 100px;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: white;
        border-radius: 40%;
        z-index: 100;


    }
}

.box-info {
    padding: 20px;
    -webkit-box-shadow: 12px 12px 20px 5px #c4c4c4;
    box-shadow: 12px 12px 20px 5px #c4c4c4;
    border-radius: 10px;
    position: relative;
    top: -50px;
    z-index: -1;

    .nombre-proyecto {
        margin-top: 50px;

        span {
            font-size: 1em;
        }
    }
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}


//circle animated
.circle {
    border-radius: 50%;
    background-color: deepskyblue;
    width: 150px;
    height: 150px;
    position: absolute;
    top: -16px;
    opacity: 0;
    animation: scaleIn 4s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
    left: 0px;
    right: 0px;
    border: 0;
    z-index: 0;
    margin: auto;
}

  @keyframes scaleIn {
    from {
      transform: scale(.2, .2);
      opacity: .2;
    }
    to {
      transform: scale(1.5, 1.5);
      opacity: 0;
    }
  }

  @media (max-width: 576px) {
    header {
        width: initial;
    }

    .nombre-proyecto {
        margin-top: 16% !important;
    }
  }
